body {
    font-family: 'Roboto', sans-serif;
    color: #fafafa;
    font-weight: 500;
}

h1 {
    margin-top: 30px;
    padding: 15px;
    font-weight: 600;
}

p {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 500;
}

h2 {
    margin-bottom: 20px;
    text-decoration: underline;
}

h4 {
    padding: 2px;
    margin: 10px 0px 80px 0px;
}

.gallery-subtitle {
    padding: 2px;
    margin: 10px 0px 20px 0px;
}

h5 {
    padding: 2px;
    margin-top: 40px;
}

.quote-text {
    margin-top: 6px;
    margin-bottom: 0px;
}

.quote-name {
    margin-bottom: 25px;
}

.modal-title {
    padding: 2px;
    margin-top: 0px;
}

.carousel-control-prev,
.carousel-control-next {
    width: 30%;
}

.carousel {
    position: relative;
    margin-bottom: 20px;
}

.img-carousel {
    width: 80%;
    height: 200px;
}

.img-gallery {
    width: 90%;
    height: 220px;
    -webkit-box-shadow: 0px 7px 14px 5px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 0px 7px 14px 5px rgba(0, 0, 0, 0.38);
    box-shadow: 0px 7px 14px 5px rgba(0, 0, 0, 0.38);
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
    display: block;
}

.navbar-brand {
    background: url("../images/air-ballon.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50px;
    height: 50px;
    transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    border-radius: 20px;
    margin-left: 5px;
}

.landing-page-container,
.gallery-container,
.videos-container,
.contact-container {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    align-items: center;
    justify-content: center;
}

.landing-page-container,
.videos-container {
    background: url("../images/bg-luke-chesser.jpg") no-repeat center center fixed;
}

.gallery-container,
.contact-container {
    background: url("../images/bg-luke-chesser2.jpg") lightblue no-repeat center center fixed;
}

/*
.videos-container {
    background: url("../images/bg-luke-chesser3.jpg") no-repeat center center fixed;
}

.contact-container {
    background: url("../images/bg-luke-chesser4.jpg") no-repeat center center fixed;
}
*/

.navbar {
    display: block;
}

.navbar .navbar-nav a {
    opacity: 0.8;
    font-size: large;
}

.navbar .navbar-nav a:hover {
    opacity: 1;
    font-weight: bold;
    transform: scale(1.2);
}

.navbar navbar-brand i {
    opacity: 0.7;
}

.navbar .navbar-brand i:hover {
    opacity: 1;
    font-weight: bold;
    transform: scale(1.2);
}

.btn-primary {
    color: #fff;
    background-color: #97d92d;
    border: 0px;
    margin-bottom: 70px;
}

.btn-success {
    color: #fff;
    background-color: #97d92d;
    border: 0px;
    margin-top: 20px;
}

.btn-warning {
    color: #fff;
    background-color: #97d92d;
    border: 0px;
}

.modal-header {
    display: block;
    height: 80px;
    border-bottom: 1px solid white;
    margin-bottom: 10px;
}

.modal-body {
    padding: 0px 16px;
}

.modal-content {
    background-color: lightblue;
    border: 5px solid #fafafa;
    border-radius: 5px;
    width: 350px;
    height: 500px;
}

.modal-footer {
    border-top: 0;
    padding: 0px 16px;
}

.media-hover {
    opacity: 0.9;
}

.media-hover:hover {
    opacity: 1;
    transform: scale(1.1);
}

footer {
    background: #16167f;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.social-media-links li a i {
    font-size: 40px;
    color: #fafafa;
}

.copyright {
    font-size: 15px;
    color: #fafafa;
}