

body {
    font-family: 'Roboto', sans-serif;
    }
/*    
@media screen and (max-width: 768px) {
    body { padding-top: 0px; }
}*/


/*-----------------NAVBAR----------------------*/

/*
.navbar-alert {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
}
*/

.navbar {
    display: block;
    /*
    background-color: rgba(0,0,0,0.5); */
}

.navbar .navbar-toggler {
    border: 0px;
}

.navbar .navbar-nav a {
    opacity: 0.7;
}

.navbar .navbar-nav a:hover {
    opacity: 1;
    font-weight: bold;
    transform: scale(1.2);
}

.navbar navbar-brand i {
    opacity: 0.7;
}

.navbar .navbar-brand i:hover {
    opacity: 1;
    font-weight: bold;
    transform: scale(1.2);
}

.navbar-brand {
    background: url("../images/air-ballon.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50px;
    height: 50px;
    transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    border-radius: 20px;
    margin-left: 5px;
}

.section-title {
    padding: 0;
    margin: 0;
}

textarea {
    width: 186px;
}

.btn-primary {
    color: #fff;
    background-color: #97d92d;
    border: 0px;
    margin-top: 35px;
}


.modal-footer .btn btn-primary {
    opacity: 0.9;
}

.modal-footer .btn btn-primary:hover {
    opacity: 1;
    transform: scale(1.4);
}

#videos-section .video-air-ballon,
#videos-section .video-paragliding,
#videos-section .video-scuba-diving {
    opacity: 0.9;
}

#videos-section .video-air-ballon:hover,
#videos-section .video-paragliding:hover,
#videos-section .video-scuba-diving:hover {
    opacity: 1;
    transform: scale(1.1);
}


footer {
    background: lightblue;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 150px;
    margin: 0;
    padding: 50px;
}

.copyright {
    font-size: 15px;
    margin: 0;
    color: #fafafa;
}

.social-media-links li a i {
    font-size: 65px;
    padding: 20px;
    text-align: center;
    color: #fafafa;
    line-height: 3px;
    opacity: 0.9;
}

.social-media-links li a i:hover {
    transform: scale(1.1);
    opacity: 1.0;
}

.landing-page-container {
    height: 100vh;
    background: url("../images/bg-luke-chesser.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery-container {
    height: 100vh;
    background: url("../images/bg-luke-chesser2.jpg") lightblue no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
}

.rounded {
    padding: 32px;
}

.rounded:hover {
    transform: scale(1.2);
}


.container-fluid.gallery-container {
    padding-top: 20px;
    margin: 0px;
}

.videos-container {
    height: 100vh;
    background: url("../images/bg-luke-chesser3.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-container {
    height: 100vh;
    background: url("../images/bg-luke-chesser4.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-header {
    display: block;
    height: 80px;
    border-bottom: 1px solid white;
}

.modal-body {
 display: block;
 padding: 5px 25px;
}

.form-check-label {
    margin: 5px 0px 5px 20px;
    display: table;
    font-weight: 700;
}

.form-group {
    margin: 0px 0px 0px 20px;
    width: 400px
}

label {
    display: block;
}

.modal-content {
    background-color: lightblue;
    border: 5px solid black;
    border-radius: 5px;
}

.modal-footer {
    padding: 5px 0px 10px 46px;
    border-top: 0;
}


